.home {
    height: 21rem;
    border-radius: 4px;
    margin: 2rem;
    padding: 1rem;
    .img {
        height: 15rem;
        width: 100vw;
        overflow: hidden;
        border-radius: 4px;
        margin-top: 1rem;
    }
}